@import "bootstrap/dist/css/bootstrap.min.css";
body {
  padding: 30px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  /* height: 100vh; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.text-white {
  color: #fff;
}

.dating-destination-list {
  padding: 20px 50px;
  background: white;
}
